In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
dataset = pd.read_csv("Python_Code-Working.csv")
data_frame = dataset.copy()
# remove ID column
data_frame = data_frame.drop("ID", axis=1)
# scale the numeric features
columns_to_scale = ["Age", "Income"]
scaler = MinMaxScaler()
data_frame[columns_to_scale] = scaler.fit_transform(data_frame[columns_to_scale])
# show the modified data frame
data_frame.head()
# Perform one-hot encoding
columns_to_encode = ["Division", "Gender", "MaritalStatus"]
data_frame = pd.get_dummies(data_frame, columns=columns_to_encode)

# Show the modified data frame
print(data_frame.head())
from sklearn.cluster import KMeans

# Extract the 'Division' column
division_column = dataset['Division']

# Perform one-hot encoding on 'Division'
division_encoded = pd.get_dummies(division_column, prefix='Division')

# Perform K-means clustering
kmeans = KMeans(n_clusters=3)  # You can specify the desired number of clusters
kmeans.fit(division_encoded)

# Retrieve the cluster labels
cluster_labels = kmeans.labels_

# Add the cluster labels to the dataset
dataset['Cluster'] = cluster_labels

# Show the modified dataset with cluster labels
print(dataset.head())

  Customer Name       Age    Income  Matched  Division_Barishal  \
0     Christine  0.833333  0.563614     True                  0
1         Susan  0.916667  0.000000    False                  0
2      Margaret  0.500000  0.488427     True                  0
3         David  0.416667  0.000000    False                  1
4         Peter  0.500000  0.439041    False                  0

   Division_Chattogram  Division_Dhaka  Division_Khulna  Division_Mymensingh  \
0                    0               1                0                    0
1                    0               0                0                    0
2                    0               0                1                    0
3                    0               0                0                    0
4                    0               0                0                    1

   Division_Rajshahi  Division_Rangpur  Division_Sylhet  Gender_F  Gender_M  \
0                  0                 0                0         1         0
1                  1                 0                0         1         0
2                  0                 0                0         1         0
3                  0                 0                0         0         1
4                  0                 0                0         0         1

   MaritalStatus_Divorced  MaritalStatus_Married  MaritalStatus_Single
0                       0                      1                     0
1                       0                      0                     1
2                       0                      1                     0
3                       0                      1                     0
4                       0                      0                     1
        ID Customer Name    Division Gender MaritalStatus  Age  Income  \
0  BU79786     Christine       Dhaka      F       Married   46   56274
1  QZ44356         Susan    Rajshahi      F        Single   48       0
2  AI49188      Margaret      Khulna      F       Married   38   48767
3  WW63253         David    Barishal      M       Married   36       0
4  HB64268         Peter  Mymensingh      M        Single   38   43836

   Matched  Cluster
0     True        0
1    False        0
2     True        2
3    False        0
4    False        0

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(